#siteFooter p.powered-by {
    text-align: center;
    font-style: italic;
}

#siteHeader h1.logo {
    line-height: 80px;
    height: 80px;
    margin-bottom: 0px;

    img {
        .left;
        margin-right: 20px;
    }
    
    a {
        text-decoration: none;
        color: #BD101D;
    }

    span {
        margin-bottom: 0px;
        vertical-align: bottom;
    }
}

.welcome {
    .content {
        ul {
            text-align: center;
            li {
                display: inline;
                padding: 0 10px 0 10px;
            }
        }
    }
}

div.top .posts {
    clear: both;
}

div.top .posts div.main {
    .span-24;
}

