<div class="mainContents">
  <section class="welcome">
    <div class="content">
      <ul>
        <li><a href="https://groups.google.com/group/couchdb-jp?hl=ja">CouchDB JP | Google グループ</a></li>
        <li><a href="https://github.com/organizations/CouchDB-JP">CouchDB JP 用 github</a>
        <li><a href="http://twitter.com/couchdbjp">CouchDB JP Twitter</a>
        <li><a href="http://couchdb.apache.org/">Apache CouchDB: The CouchDB Project</a></li>
      </ul>
    </div>
  </section>
  <section class="posts">
    <h2>News</h2>
    <div class="main">
      <%- posts %>
    </div>
  </section>
</div>
